<div class="container-fluid mt-2">
	<div class="content">
		<!-- Transaction History -->
		<div class="content__recent--history text-center align-items-center">
			<h2 class="text-center text-light">Your transaction history</h2>
			<table class="table text">
				<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Transaction type</th>
					<th scope="col">Total transaction</th>
					<th scope="col">See detail</th>
				</tr>
				</thead>
				<tbody>
				<tr class="withdrawal">
					<th scope="row">1</th>
					<td>Withdraw</td>
					<td>3</td>
					<td>
						<a href="/admin/withdrawal_history" class="btn text-primary">
							Detail information
						</a>
					</td>
				</tr>
				<tr class="transfer">
					<th scope="row">1</th>
					<td>Transfer</td>
					<td>3</td>
					<td>
						<a href="/admin/transfer_history" class="btn text-primary">
							Detail information
						</a>
					</td>
				</tr>
				<tr class="buy-phone-card">
					<th scope="row">1</th>
					<td>Buy phone card</td>
					<td>3</td>
					<td>
						<a href="#" class="btn text-primary">Detail information</a>
					</td>
				</tr>
				<tr class="receive">
					<th scope="row">1</th>
					<td>Receive</td>
					<td>3</td>
					<td>
						<a href="#" class="btn text-primary">Detail information</a>
					</td>
				</tr>
				<tr class="deposit">
					<th scope="row">1</th>
					<td>Deposit</td>
					<td>3</td>
					<td>
						<a href="/admin/recharge_history" class="btn text-primary">Detail information</a>
					</td>
				</tr>
				</tbody>
			</table>
			<a href="/activated_display" class="btn btn-light"
			><i class="fas fa-arrow-left"></i> Go back
			</a>
		</div>
	</div>
</div>