<div class="header">
  <h1>E-WALLET</h1>
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-user"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/users/reset_password">
        <i class="fas fa-key"></i> Change password</a
      >
      <a class="dropdown-item" href="/users/logout">
        <i class="fas fa-long-arrow-right"></i> Logout
      </a>
    </div>
  </div>
  <div class="dropleft">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropleftMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fa-solid fa-user text-light"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/users/reset_password"
        ><i class="fa-solid fa-key mr-2"></i> Change password</a
      >
      <a class="dropdown-item" href="/users/logout"
        ><i class="fa-solid fa-arrow-right-from-bracket mr-2"></i> Logout</a
      >
    </div>
  </div>
</div>