<ul class="responsive__list">
  <li class="responsive__item-1">
    <a
      href="/not_verify_account"
      class="btn responsive__item-2"
      id="home"
    >
      <i class="fas fa-home-lg-alt"></i> Home
    </a>
  </li>
  <li class="responsive__item-1">
    <a
      class="btn responsive__item-2"
      id="withdraw"
      onclick="alertNotification()"
    >
      <i class="fas fa-money-bill"></i> Withdrawal
    </a>
  </li>
  <li class="responsive__item-1">
    <a class="btn responsive__item-2" onclick="alertNotification()">
      <i class="fas fa-exchange"></i> Transfer money
    </a>
  </li>
  <li class="responsive__item-1">
    <a class="btn responsive__item-2" onclick="alertNotification()">
      <i class="fas fa-pager"></i> Buy phone card
    </a>
  </li>
  <li class="responsive__item-1">
    <a class="btn responsive__item-2" onclick="alertNotification()">
      <i class="fas fa-history"></i> Transaction history
    </a>
  </li>
</ul>