<ul class="navi__list">
  <li class="navi__item-1">
    <a
      href="/not_verify_account"
      class="btn navi__item-2"
      id="home"
    >
      <i class="fas fa-home-lg-alt"></i> Home
    </a>
  </li>
  <li class="navi__item-1">
    <a
      class="btn navi__item-2"
      id="withdrawal"
      onclick="alertNotification()"
    >
      <i class="fas fa-money-bill"></i> Withdrawal
    </a>
  </li>
  <li class="navi__item-1">
    <a
      class="btn navi__item-2"
      id="transfer"
      onclick="alertNotification()"
    >
      <i class="fas fa-exchange"></i> Transfer money
    </a>
  </li>
  <li class="navi__item-1">
    <a
      class="btn navi__item-2"
      id="phone-card"
      onclick="alertNotification()"
    >
      <i class="fas fa-pager"></i> Buy phone card
    </a>
  </li>
  <li class="navi__item-1">
    <a
      class="btn navi__item-2"
      id="history"
      onclick="alertNotification()"
    >
      <i class="fas fa-history"></i> Transact history
    </a>
  </li>
</ul>