<ul class="navi__list">
  <li class="navi__item-1">
    <a href="/home" class="btn navi__item-2" id="home">
      <i class="fas fa-home-lg-alt"></i> Home
    </a>
  </li>
  <li class="navi__item-1">
    <a
      href="/withdrawal"
      class="btn navi__item-2"
      id="withdraw"
    >
      <i class="fas fa-money-bill"></i> Withdrawal
    </a>
  </li>
  <li class="navi__item-1">
    <a href="/transfer" class="btn navi__item-2">
      <i class="fas fa-exchange"></i> Transfer money
    </a>
  </li>
  <li class="navi__item-1">
    <a href="/buy_phone_card" class="btn navi__item-2">
      <i class="fas fa-pager"></i> Buy phone card
    </a>
  </li>
  <li class="navi__item-1">
    <a href="/transaction_history" class="btn navi__item-2">
      <i class="fas fa-history"></i> Transact history
    </a>
  </li>
</ul>