<div class="container">
  <h3 class="mt-5 mb-3 text-center text-light">Create new password</h3>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form
        novalidate
        onsubmit="return checkChangeOtp()"
        class="border p-3 rounded bg-light"
        action="/users/change_password"
        method="post"
      >
        <div class="form-group">
          <label for="pwd">New Password</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <input
              type="password"
              class="form-control"
              id="pwd"
              placeholder="Enter new password"
              name="pwd"
              value="{{pwd}}"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="pwd-confirm">Confirm Password</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-lock"></i>
              </span>
            </div>
            <input
              type="password"
              class="form-control"
              id="pwd-confirm"
              placeholder="Confirm password"
              name="pwd-confirm"
              value="{{pwd-confirm}}"
            />
          </div>
        </div>
        <div class="text-danger text-center mb-2 d-none" id="error-message">
          Please enter your password
        </div>
        <div class="text-center">
          <button class="btn btn-success mt-2 mb-2" type="submit">
            Create new password
          </button>
          <a href="./logout" class="btn btn-danger mt-2 mb-2">
            Log out
          </a>
        </div>
      </form>
    </div>
  </div>
</div>