{{> header}}
<div class="container-fluid">
  <div class="row navi">
    <div class="col-lg-3">
      {{> menu}}
    </div>
    <div class="col-lg-9">
      <div class="content">
        <!-- Recharge History -->
        <div class="content_history--deposit text-center">
          <h2 class="text-center text-light">Recharge history</h2>
          <table class="table text-light">
            <thead class="thead-light">
              <tr>
                <th scope="col">Recharge ID</th>
                <th scope="col">Credit card</th>
                <th scope="col">Money</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              {{#each rechargeHistories}}
              <tr>
                <td>{{_id}}</td>
                <td>{{cardNumber}}</td>
                <td>{{formatCurrency money}}</td>
                <td>{{date}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <a href="/transaction_history" class="btn btn-light"><i class="fas fa-arrow-left"></i> Go back
          </a>
        </div>
      </div>
    </div>
  </div>
  {{> menu_responsive}}
</div>