<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <h3 class="text-center text-light mt-5 mb-3">Change Password</h3>
      <form novalidate method="post" action="/users/reset_password" onsubmit="return checkOldAndNew()" class="border rounded w-100 mb-5 mx-auto px-3 pt-3 bg-light">
        <div class="form-group">
          <label for="old-pass">Old password</label>
          <input name="old-pass" id="old-pass" type="password" class="form-control" value="{{old-pass}}" placeholder="Enter your old password">
        </div>
        <div class="form-group">
          <label for="new-pass">New Password</label>
          <input value="{{new-pass}}" name="new-pass" required class="form-control" type="password" id="new-pass" placeholder="Enter your new password">
        </div>
        <div class="form-group">
          <label for="pass-confirm">Confirm Password</label>
          <input value="{{pass-confirm}}" name="pass-confirm" required class="form-control" type="password" id="pass-confirm" placeholder="Confirm your new password">
        </div>
        <div class="text-danger text-center mt-1 mb-3 d-none" id="error-message">Please enter your password</div>
        {{#if error}}
        <div class="text-danger text-center mt-1 mb-3" id="error-message">{{error}}</div>
        {{/if}}
        <div class="form-group text-center">
          <button class="btn btn-success px-5" type="submit">Change password</button>
        </div>
      </form>
    </div>
  </div>
</div>